*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/dJISDKLIB/build/outputs/aar/dJISDKLIB-debug.aar
/dJISDKLIB/build/outputs/aar/dJISDKLIB-release.aar
/.idea
